body {
    background-color: #f0f2f6;
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #4CAF50;
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #000000;
}

.stButton>button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

/* .stNumberInput>div>div>input {
    border: 2px solid #4CAF50;
    border-radius: 4px;
    padding: 5px;
}

.stSelectbox>div>div>div>div {
    border: 2px solid #4CAF50;
    border-radius: 4px;
    padding: 5px;
} */

.stSelectbox>div>div>div {
    padding: 5px;
}

.stNumberInput>div>div {
    padding: 5px;
}